html, body {
	height:100%;
	width:100%;
	border:0px;
	margin:0;
	padding:0;
	background-color: #ededed !important;
	font-family: 'Raleway';
}

.scorebox { grid-area: scorebox; width: 200px;}
.header { grid-area: header; }
.infobox { grid-area: infobox; }
.timepoint { grid-area: timepoint}
.cards { grid-area: cards; }
.footer { grid-area: footer; }
.blank { grid-area: blank; width: 200px;}

.grid-container {
  display: grid;
  grid-template-areas:
	'scorebox header header blank'
	'timepoint timepoint timepoint timepoint'
    'infobox infobox infobox infobox'
    'cards cards cards cards'
    'footer footer footer footer';
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  justify-content: space-between;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.undefinedCards {
	background-color: #444 !important;
	margin: 50px 10px 50px 10px;
	height: 250px;
	width: 170px;
	padding: 5px;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
	font-family: 'Raleway';
	transition: transform .2s;
	pointer-events: none;
	border-radius: .25rem;
}
.card {
	background-color: #444 !important;
	margin: 50px 10px 50px 10px;
	height: 250px;
	width: 170px;
	padding: 5px;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: right;
	font-family: 'Raleway';
	cursor: pointer;
	transition: transform .2s;
}
.pickedCard {
	position: absolute; 
	background-color: rgb(207, 206, 206) !important;
	color: #444;
	height: 250px;
	width: 170px;
	font-family: 'Raleway';
	border-radius: .25rem;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: transform 1s;
	transform-style: preserve-3d;
}
.card:hover {
	transform: scale(1.02);
}
#category {
	color: #7dbfe3;
	font-size: 17px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: -15px;
}
#method {
	color: white;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: -10px;
}
#ord {
	color: white;
	font-size: 15px;
	font-weight: 500px;
}

#thingsTodo {
	margin: 0px;
	width: 100%;
}
input {
	width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.disabledCards {
	pointer-events: none;
}

#timeBar {
	width: 0%;
	height: 10px;
	margin-top: 10px;
	background-color: #4CAF50;
}
.pickedcard__face {
	position: absolute;
	background-color: #444 !important;
	margin: 0;
	height: 100%;
	width: 100%;
	padding: 5px;
	font-family: 'Raleway';
	border-radius: .25rem;
	backface-visibility: hidden;
}
.pickedcard.is-flipped {
	transform: rotateY(180deg);
}
.pickedcard__face--front {
	background-color: #444 !important;
	display: flex;
	text-align: right;
	flex-direction: column;
	justify-content: flex-end;
}
.pickedcard__face--back {
	color: white;
	padding:10px;
	font-weight: 500;
	transform: rotateY(180deg);
}